body{
    font-family:Arial;
    background:linear-gradient(135deg,#eaf4ff,#ffffff);
    margin:0;
    text-align:center;
    }
    
    header{
    padding:30px;
    }
    
    .logo{
    width:150px;
    }
    
    .container{
    margin-top:40px;
    }
    
    input{
    padding:16px;
    font-size:20px;
    margin:12px;
    width:260px;
    border-radius:10px;
    border:1px solid #ccc;
    }
    
    button{
    padding:16px 30px;
    font-size:20px;
    border:none;
    background:#2c7be5;
    color:white;
    border-radius:10px;
    cursor:pointer;
    }
    
    #horarios{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    margin-top:40px;
    }
    
    .slot{
    background:#2ecc71;
    padding:25px 35px;
    font-size:22px;
    border-radius:14px;
    color:white;
    cursor:pointer;
    }
    
    .slot:hover{
    transform:scale(1.08);
    }
    
    .footer{
    margin-top:40px;
    font-size:18px;
    color:#555;
    }
    