body{
font-family:Arial;
background:linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url("https://images.unsplash.com/photo-1544161515-4ab6ce6db874");
background-size:cover;
text-align:center;
}

.container{
background:white;
padding:30px;
margin:40px auto;
width:320px;
border-radius:10px;
}

.slot{
background:#2ecc71;
padding:15px;
margin:5px;
color:white;
cursor:pointer;
}

.footer{
margin-top:20px;
}
